.proration-builder {
    height: 100%;
    padding: 48px;
}

.probation-builder--form-list {
    margin-bottom: 24px;
}

.proration-builder--card {
    min-height: 70%;
    background-color: #DFE7ED;
}